﻿
@{
    Layout = "~/Views/Shared/_masterlayout.cshtml";
    ViewBag.Title = "Index";
}
<link href="~/Content/modelpopup.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<h2>Commission Report Uploader</h2>


@using (Html.BeginForm("BtnuploadProcess", "SaleCommission", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="row">
            <div class="col-lg-12">


                <div class="col-lg-6 left">
                    <div style="margin-top: 37px;">
                        <label style="display: inline-block;max-width: 100%;margin-bottom: 18px;font-weight: bold;">Select Report </label>
                        <select id="reportid" class="form-control" name="reportid" onchange="reportchange()">
                            <option value="0" selected disabled>Select Report</option>
                            @foreach (var rpt in ViewBag.ReportName)
                            {
                                <option value="@rpt.Reportid">@rpt.ReportName</option>
                            }

                        </select>
                    </div>
                </div>

                <div class="col-lg-6 right">

                    <h3>Read the point in Commission Uploader</h3>
                    <p>1 ) Pay period not same in all commission reports.</p>
                    <p>2 ) Check all column names same in demo Excel Sheet.</p>
                    <h3>Error Description</h3>

                    <p style="color:red">Uploaded data is not the correct format:</p><p> Check pay period and check for all columns name in demo Excel Sheet.</p>
                    <p style="color:red">Set Pay Period In Report:</p><p> This error define in pay period check pay period in null.</p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">


                <div class="col-lg-6 left" style="
    margin-top: -181px;
">

                    <div style="margin-top: 37px;">
                        <label style="display: inline-block;max-width: 100%;margin-bottom: 18px;font-weight: bold;">File Upload</label>
                        <input type="file" name="file" id="file" required class="form-control" />

                    </div>


                    <div style="margin-top: 37px;">
                        <input id="load" name="btnload" type="submit" value="Upload" onclick="btnupload()" class="btnstyle btn-success" style="width: 143px;height: 40px;font-size: 20px;" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <p style="margin-top: 26px;color: red;font-size: 17px;font-weight: 800" onload="">
        Response: @ViewBag.response
    </p>
    if (ViewBag.response == "Report Uploaded")
    {
        <body onload="En()">
        </body>
    }
    else if (ViewBag.response == "Re Upload Commission File")
    {

        <body onload="myfunction()">
        </body>


    }

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div style="margin-top: 64px;">
                <p style="font-size:17px; font-weight:bold">Delete same Pay period Are You Show?</p>
                <input type="submit" value="Cancel" class="btnstyle btn-success close" style="width: 108px;
    height: 40px;
    font-size: 19px;" />
                <input id="load" name="btnload" type="submit" value="Yes" onclick="btnreplace()" class="btnstyle btn-success" style="width: 108px;
    height: 40px;
    font-size: 19px;" />
            </div>
        </div>
    </div>
    <div id="rpt2" style="display:none">
        <p style="font-size:40px">Excel Format</p>
        <iframe width="100%" height="300px" frameborder="0" scrolling="no" src="https://level3bosmqjj-my.sharepoint.com/:x:/g/personal/it_level3bos_org/Eebt5g0XojpNrps5AiiqGFoBH4fwQiZ0yYpOEEemkEP3zQ?e=d41p8a&action=embedview&wdAllowInteractivity=False&wdDownloadButton=True&wdInConfigurator=True&wdHideSheetTabs=true"></iframe>
    </div>
    <div id="rpt3" style="display:none">
        <p style="font-size:40px">Excel Format</p>
        <iframe width="100%" height="300px" frameborder="0" scrolling="no" src="https://level3bosmqjj-my.sharepoint.com/:x:/g/personal/it_level3bos_org/ESMtKhvtKrFMmevJgKnv-lUBO6iNhunRwRu6_rQ9xtg3Lg?e=pb1Nlr&action=embedview&wdAllowInteractivity=False&wdDownloadButton=True&wdInConfigurator=True&wdHideSheetTabs=true"></iframe>
    </div>
    <div id="rpt4" style="display:none">
        <p style="font-size:40px">Excel Format</p>
        <iframe width="100%" height="300px" frameborder="0" scrolling="no" src="https://level3bosmqjj-my.sharepoint.com/:x:/g/personal/it_level3bos_org/Eas6wP0SBqlJqwd9wFSunikBEsb4CBHTvT1zaPD7LhUqJQ?e=n2jAd&action=embedview&wdAllowInteractivity=False&wdDownloadButton=True&wdInConfigurator=True&wdHideSheetTabs=true"></iframe>
    </div>
    <div id="rpt5" style="display:none">
        <p style="font-size:40px">Excel Format</p>
        <iframe width="100%" height="300px" frameborder="0" scrolling="no" src="https://level3bosmqjj-my.sharepoint.com/:x:/g/personal/it_level3bos_org/EYy_ffr3GUNGk6T3WxKpVZQBAeGOME3xMnpd78gJ4Ya3xA?e=xW97ai&action=embedview&wdAllowInteractivity=False&wdDownloadButton=True&wdInConfigurator=True&wdHideSheetTabs=true"></iframe>
    </div>
    <div id="rpt6" style="display:none">
        <p style="font-size:40px">Excel Format</p>
        <iframe width="100%" height="300px" frameborder="0" scrolling="no" src="https://level3bosmqjj-my.sharepoint.com/:x:/g/personal/it_level3bos_org/ET8_OSjYA4VFgODJwj-seLIBjcZahWT8JMqVulUJn97kyA?e=kwd6Bw&action=embedview&wdAllowInteractivity=False&wdDownloadButton=True&wdInConfigurator=True&wdHideSheetTabs=true"></iframe>
    </div>
}
    <div class="modal fade bd-example-modal-lg" style="width:100%" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="width: 161px;margin-top: 72%;">
                <img src="~/Content/loader.gif" style="width: 124px;" />
            </div>
        </div>
    </div>

<script>


    function btnupload() {

        var e = document.getElementById("reportid");
        var optionSelIndex1 = e.options[e.selectedIndex].value;
        if (optionSelIndex1 <= 0) {
            $('#reportid').css('border-color', 'Red');
            return false
        }
        else {
            $('#reportid').css('border-color', 'Black');

        }
        $('.progress-bar').animate(
            {
                width: '100%'
            },
            {
                duration: 3000
            }
        );
        $('.bd-example-modal-lg').modal('show');



    }
    function En() {
        $('#load').attr('disabled', false);
        $('.bd-example-modal-lg').modal('hide');
    };
    $(document).ready(function () {
        $('.bd-example-modal-lg').modal('hide');

        $('#load').click(function () {
            $(this).attr('disabled', true, "cursor", "not-allowed");
            this.form.submit();

        });
    });




    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    //var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    function myfunction() {
        debugger;
        modal.style.display = "block";
    }
    function btnreplace() {
        modal.style.display = "none";

        var rpid =  '@ViewBag.rptid';
        var dttid =  '@ViewBag.datetype';
        $.ajax({
            type: "POST",
            url: "DeleteSamerecord",
            data: { rpt: rpid, Dateed: dttid },
            success: function (result, status, xhr) {
                console.log(result);
            },
        });


    }
    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }


</script>
<script>

    function reportchange() {

        var e = document.getElementById("reportid");
        var optionSelIndex1 = e.options[e.selectedIndex].value;
        if (optionSelIndex1 >= 0) {

            if (optionSelIndex1 == 2) {

                $('#rpt2').show();
                $('#rpt3').hide();
                $('#rpt4').hide();
                $('#rpt5').hide();
                $('#rpt6').hide();
            }
            else if (optionSelIndex1 == 3) {
                $('#rpt2').hide();
                $('#rpt3').show();
                $('#rpt4').hide();
                $('#rpt5').hide();
                $('#rpt6').hide();
            }
            else if (optionSelIndex1 == 4) {
                $('#rpt2').hide();
                $('#rpt3').hide();
                $('#rpt4').show();
                $('#rpt5').hide();
                $('#rpt6').hide();
            }
            else if (optionSelIndex1 == 5) {
                $('#rpt2').hide();
                $('#rpt3').hide();
                $('#rpt4').hide();
                $('#rpt5').show();
                $('#rpt6').hide();
            }
            else if (optionSelIndex1 == 6) {
                $('#rpt2').hide();
                $('#rpt3').hide();
                $('#rpt4').hide();
                $('#rpt5').hide();
                $('#rpt6').show();
            }


            else {
                $('#rpt2').hide();
                $('#rpt3').hide();
                $('#rpt4').hide();
                $('#rpt5').hide();
            }

        };
    };

</script>



