﻿@{
    ViewBag.Title = "Commission Uploader";
}

@using (Html.BeginForm("Index", "Commission", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
{
    <label for="report_id">Select Report: </label>
    <br /> <br />
    <select id="report_id" name="report_id">
        <option value="1">RSM Reports</option>
        <option value="2">EOM / Personal Report</option>
    </select>
    <label for="file">Upload Commission Report</label><br><br>
    <span>Upload BOX<input type="file" name="file" id="file" required/></span><br><br>
    <input id="load" name="btnload" type="submit" value="Upload" />
    <div id="div_1" style="display:none"><img src="~/Img/Spinner2.gif" /></div>

    <p>
        Response: @ViewBag.response
    </p>
    if (ViewBag.response == "Report Uploaded")
    {
        <body onload="En()">
        </body>
    }
}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#load').click(function () {
            $(this).attr('disabled', true, "cursor", "not-allowed");
            this.form.submit();

        });
        $('#load1').attr('disabled', true);
    });

    $(function () {
        $('#load').click(function () {
            // $('#div_1').html('<img src="~/Img/Spinner.gif" style="width:20%, height:20%"/>');
            $('#div_1').css('display', 'block');
        })
        $('#load').click(function () {
            // $('#div_1').html('<img src="~/Img/Spinner.gif" style="width:20%, height:20%"/>');
            $('#div_1').css('display', 'block');
        })
    })
    $('#form').one('submit', function () {
        $(this).find('input[type="submit"]').attr('disabled', 'disabled');
    });
    function En() {
        $('#load1').attr('disabled', false);
    }
    function sendemail() {
        window.location = 'Home/SendEmail';
        $('#load1').attr('disabled', true);
    }

</script>
